* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VAR */
.navbar {
  height: 100%;
  box-shadow: 0px 8px 5px 0px rgb(224, 211, 224);
}
.navbar .container-fluid {
  padding: 1%;
  background-color: white;
}
.navbar .container-fluid .navbar-brand {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.7rem;
  margin-left: 3%;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  font-family: "Julius Sans One", sans-serif;
  transition-duration: 1s ease;
}
.navbar .container-fluid .navbar-nav .dropdown-menu .dropdown-item {
  font-family: "Julius Sans One", sans-serif;
}

.portada img {
  max-width: 100%;
  height: auto;
}

.presentacion {
  width: 70%;
  height: 250px;
  background-color: white;
  margin: auto;
}
.presentacion .exito {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  padding-top: 10%;
}

.carousel {
  margin-bottom: 10%;
}

.servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 2%;
  margin-bottom: 10%;
}
.servicios .card {
  border: none;
}
.servicios .card .card-body {
  text-align: center;
}
.servicios .card .card-body .card-title {
  font-family: "Julius Sans One", sans-serif;
}
.servicios .card .card-body .btn {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Julius Sans One", sans-serif;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 5%;
}

.instagram {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5%;
  gap: 2%;
}

/* PAGES */
.informacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 2% 5% 2%;
  gap: 2%;
}
.informacion .itemInfo {
  width: 50%;
}
.informacion .itemInfo img {
  width: 100%;
}
.informacion .itemInfo h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4rem;
}

/* FOOTER */
.footer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2EDF0;
  justify-content: space-evenly;
}
.footer .itemFooter {
  margin-top: 3%;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
}
.footer .divIconos {
  margin-left: 44%;
  margin-bottom: 3%;
}
.footer .divIconos .icono {
  max-width: 35px;
}

/* MEDIAS QUERIES */
@media (max-width: 912px) {
  /* INDEX */
  .instagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
  }
  .servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  /* PAGES */
  .informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 2% 5% 2%;
    gap: 0%;
  }
  .informacion .itemInfo {
    width: 100%;
  }
  .informacion .itemInfo img {
    width: 100%;
  }
  .informacion .itemInfo h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  .informacion .itemInfo p {
    text-align: center;
  }
  /* FOOTER */
  .footer .divIconos {
    margin-left: 40%;
  }
}
@media (max-width: 576px) {
  .presentacion {
    height: 100px;
  }
  .presentacion .exito {
    font-size: 1.5rem;
    padding-top: 10%;
  }
  .instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
  }
  .instagram iframe {
    margin: auto;
  }
  .footer .divIconos {
    margin-left: 30%;
  }
}/*# sourceMappingURL=main.css.map */